.advantages {
  line-height: 30px;
  padding-bottom: 315px;
  background-color: @color-grey;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 0%;

}
.advantages__items {
  list-style: none;
}
