.download {
  padding: 20px;
  background-color: @color-blue;
  color: #ffffff;
  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
  }
}
.download__item {
  list-style: none;
}
