.download {
  .container();
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  h2 {
    display: none;
  }
  p {
    text-align: center;
  }
}

.download__item {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

.download__btn {
  display: block;
  width: 205px;
  padding: 10px 35px;
  background-color: @color-blue;
  border: 3px solid #ffffff;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.download__items {
  width: 260px;
  margin: 20px auto;
  padding: 0;
}

@media @mobile-widths-only {
  .download {
    background-color: @color-blue;
  }
}

@media @tablet-widths {
  .download {
    min-height: 620px;
    margin-top: -620px;
    padding-left: 0;

    h2 {
      display: block;
      font-weight: 300;
      text-align: center;
    }
  }
  .download__wrapper {
    width: 300px;
    padding-top: 95px;
  }
}

@media @desktop-widths {
  .download {
    min-height: 744px;
    margin-top: -744px;
  }
  .download__wrapper {
    padding-top: 115px;
  }
}
