.form-field {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form-field__title,
.form-field__user-item label {
  color: @color-pink;
  font-weight: 400;
  text-transform: uppercase;
}

.form-field__list {
  background-color: @color-grey;
}
