.form-field {
  .container();
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;

  h2 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 45px 20px 33px 20px;
  }
  legend {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }
}

.form-field__title-hidden {
  display: none;
}

.form-field__bnt {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 50px;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
}

.form-field__hidden,
.form-field__title,
.form-field__user-item label {
  font-size: 14px;
  line-height: 30px;
  color: @color-pink;
  font-weight: 400;
  text-transform: uppercase;
}

.form-field__user-item input {
  padding-left: 20px;
  height: 59px;
  border: 2px solid @color-grey;
  border-radius: 2px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  color: #616c77;
  margin-top: 7px;
}

.form-field__radio {
  min-height: 75px;
  padding-left: 50px;
}

.form-field__check {
  min-height: 82px;
  padding-left: 50px;
}

.form-field__message {
  textarea {
    border: 2px solid @color-grey;
    border-radius: 2px;
    color: #616c77;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 15px;
  }
}

  .form-field__note-hidden {
    display: none;
  }

@media @mobile-widths-only {

  .form-field {
    fieldset {
      border: none;
    }

    legend {
      position: absolute;
      text-align: center;
      padding: 0 40px;
      margin: 0;
      top: 39px;
      left: 0px;
    }
  }

  .form-field__user-item label {
    margin-left: 20px;
  }

  .form-field__hidden {
    display: none;
  }

  .form-field__list-1 {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 42px;
  }

  .form-field__list-2,
  .form-field__list-4 {
    position: relative;
    background-color: @color-grey;
    padding: 115px 20px 0px 20px;
    margin: 0;
  }

  .form-field__list-3 {
    padding: 0;
    .form-field__list-wrapper {
    min-height: 212px;
    padding: 30px 20px 32px 20px;
    }
  }

  .form-field__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-field__note {
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 14px;
  }

  .form-field__user-item input {
    width: 258px;
  }

  .form-field__footer {
    padding: 15px 20px 0px 20px;
  }

  .form-field__message {
    position: relative;
    padding: 70px 20px 25px 20px;
    legend {
    padding-left: 65px;
    }
    textarea {
      width: 258px;
      height: 178px;
    }
  }
}

@media @tablet-widths {

  .form-field__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form-field h2 {
    font-size: 18px;
    margin: 93px 60px 65px 60px;
  }

  .form-field__title-hidden {
    display: block;
  }

  .form-field__user-item label {
    padding-right: 15px;
  }

  .form-field__list-1 .form-field__user-item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .form-field__radio {
    padding-left: 90px;
  }

  .form-field__check {
    min-height: 82px;
    padding-left: 90px;
  }

  .form-field__list-1 input {
    flex-grow: 1;
    margin-top: 0;
  }

  .form-field__list-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    height: 300px;
    margin-bottom: 55px;
  }

  .form-field__list-4 {
    order: 1;
    width: 100%;
    height: 250px;
    padding: 50px 10px 5px 10px;
    margin-bottom: 55px;
  }

  .form-field__list-3 .form-field__user-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    width: 475px;
    height: 130px;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    label {
      margin-left: 20px;
    }
  }

  .form-field__list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-field__list-3 {
    order: 2;
    width: 100%;
    padding: 33px 60px 10px 60px;
    margin-bottom: 55px;
  }

  .form-field__email,
  .form-field__tel {
    order: -1;
  }

  .form-field__list-2 {
    order: 3;
    width: 100%;
    padding: 50px 10px 5px 10px;
    margin-bottom: 55px;
  }

  .form-field__footer {
    order: 5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .form-field__message {
    order: 4;
    padding: 0;
    margin-bottom: 66px;
      textarea {
        width: 470px;
        height: 165px;
        margin: 35px 60px 47px 60px;
    }
  }
  .form-field__bnt {
    padding: 17px 60px;

}
  .form-field__note {
    width: 320px;
    margin: 0;
    text-align: right;
    padding-top: 17px;
    text-transform: uppercase;
    font-size: 14px;
  }

}

@media @desktop-widths {

  .form-field h2 {
    margin: 93px 75px 70px 75px;
  }

  .form-field__title-hidden {
    display: inline-block;
  }

  .form-field__user-items {
    margin-bottom: 55px;
  }

  .form-field__list-1 .form-field__user-item {
    justify-content: space-between;
    padding: 0;
  }

  .form-field__radio {
    padding-left: 110px;
  }

  .form-field__check {
    width: 310px;
    box-sizing: border-box;
    text-align: left;
    min-height: 82px;
    padding-left: 90px;
  }

  .form-field__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-field__list-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    height: 292px;
    padding: 15px 0 0 0;
    align-content: space-between;
    label {
      margin-right: 7px;
    }
  }

  .form-field__list-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 425px;
    height: 255px;
    padding: 50px 0 0 0;
  }

  .form-field__list-2 {
    padding: 50px 0px 10px 0px;
    .form-field__list-wrapper {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .form-field__check-1 {
    order: 0;
  }

  .form-field__check-2 {
    order: 3;
  }

  .form-field__check-3 {
    order: 1;
  }

  .form-field__check-4 {
    order: 4;
  }

  .form-field__check-5 {
    order: 2;
  }

  .form-field__check-6 {
    order: 5;
  }

  .form-field__message {
    width: 100%;
    textarea {
      width: 800px;
      height: 110px;
      margin: 35px 55px 30px 55px;
      padding-top: 15px;
    }
  }

  .form-field__footer {
    width: 100%;
    margin-bottom: 0px;
  }

  .form-field__list-3 {
    width: 100%;
    padding: 30px 60px 0 60px;
    height: 140px;
    flex-direction: row;
    flex-wrap: nowrap;
    .form-field__list-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
    .form-field__user-item {
      width: 375px;
    }
  }

    .form-field__note-hidden {
    display: inline-block;
  }
}
