.form-field {
  .container();
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;

  h2 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 45px 20px 33px 20px;
  }
}

.form-field__title-hidden {
  display: none;
}

.form-field__note-hidden {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form-field__bnt {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 50px;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #61b98f;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form-field__hidden,
.form-field__title,
.form-field__user-item label {
  font-size: 14px;
  line-height: 18px;
  color: @color-pink;
  font-weight: 400;
  text-transform: uppercase;
}



.form-field__user-item input {
  text-indent: 20px;
  height: 59px;
  border: 2px solid @color-grey;
  border-radius: 2px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  margin-top: 7px;

  &::-moz-placeholder {
    color: #616c77;
  }

  &::-webkit-input-placeholder {
    color: #616c77;
  }

  &:hover {
    border-color: @color-blue;
  }

  &:active,
  &:focus {
    border-color: @color-pink;
  }
}

.form-field__message {
  textarea {
    border: 2px solid @color-grey;
    border-radius: 2px;
    color: #616c77;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 15px;
  }
}

.form-field__sup {
  color: @color-pink;
}

.form-field__radio {
  position: relative;
  min-height: 75px;
  padding-left: 70px;
}

.form-field__check {
  position: relative;
  min-height: 82px;
  padding-left: 70px;
}

input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  background-color: #ffffff;
}

input[type="checkbox"]:checked+label::before {
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

input[type="radio"]+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked+label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: @color-pink;
  border-radius: 50%;
}

input[type="checkbox"]:hover+label::before,
input[type="radio"]:hover+label::before {
  border-color: @color-blue;
}

input[type="checkbox"]:active+label::before,
input[type="radio"]:active+label::before {
  border-color: @color-pink;
}

@media @mobile-widths-only {

  .form-field {

    fieldset {
      border: none;
    }

    legend {
      position: absolute;
      text-align: center;
      padding: 0 40px;
      margin: 0;
      top: 39px;
      left: 0px;
    }
  }

  .form-field__user-item label {
    margin-left: 20px;
  }

  .form-field__hidden {
    display: none;
  }

  .form-field__list-1 {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 42px;
  }

  .form-field__list-2,
  .form-field__list-4 {
    position: relative;
    background-color: @color-grey;
    padding: 115px 20px 0px 20px;
    margin: 0;
  }

  .form-field__list-3 {
    padding: 0;
    .form-field__list-wrapper {
    min-height: 212px;
    padding: 30px 20px 32px 20px;
    }
  }

  .form-field__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-field__note {
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    font-size: 14px;
  }

  .form-field__user-item input {
    width: 258px;
  }

  .form-field__footer {
    padding: 15px 20px 0px 20px;
  }

  .form-field__message {
    position: relative;
    padding: 70px 20px 25px 20px;
    legend {
    padding-left: 65px;
    }
    textarea {
      width: 258px;
      height: 178px;
    }
  }
}

@media @tablet-widths {

  .form-field__wrapper {
    display: flex;
    flex-wrap: wrap;

    legend {
      text-align: center;
      text-align:-moz-right;
    }
  }

  .form-field h2 {
    font-size: 18px;
    margin: 93px 60px 65px 60px;
  }

  .form-field__title-hidden {
    display: block;
  }

  .form-field__user-item label {
    padding-right: 15px;
  }

  .form-field__radio {
    padding-left: 105px;
  }

  .form-field__check {
    min-height: 82px;
    padding-left: 105px;
  }

  input[type="checkbox"]+label::before,
  input[type="radio"]+label::before {
    top: -5px;
    left: 47px;
  }

  input[type="radio"]:checked+label::after {
    top: 7px;
    left: 57px;
  }

  .form-field__list-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    height: 300px;
    margin-bottom: 55px;

    .form-field__user-item {
      display: flex;
      align-items: center;
      width: 100%;
    }

    input {
      flex-grow: 1;
      margin-top: 0;
    }
  }

  .form-field__list-4 {
    order: 1;
    width: 100%;
    height: 250px;
    padding: 50px 10px 5px 10px;
    margin-bottom: 55px;
  }

  .form-field__list-3 .form-field__user-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    width: 498px;
    height: 130px;
    box-sizing: border-box;
  }

  .form-field__list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-field__list-3 {
    order: 2;
    width: 100%;
    padding: 33px 60px 10px 60px;
    margin-bottom: 55px;

    label {
      margin-left: 20px;
    }
  }

  .form-field__email,
  .form-field__tel {
    order: -1;
    width: 100%;
    margin-bottom: 15px;
  }

  .form-field__tel-icon {
    position: absolute;
    right: -1px;
    top: 9px;
    width: 61px;
    height: 61px;
    background-color: #e5e5e5;
    background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
  }

  .form-field__email-icon {
    position: absolute;
    right: -1px;
    top: 9px;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
  }

  .form-field__list-2 {
    order: 3;
    width: 100%;
    padding: 50px 10px 0px 10px;
    margin-bottom: 55px;
  }

  .form-field__footer {
    order: 5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .form-field__message {
    order: 4;
    padding: 0;
    margin-bottom: 66px;

      textarea {
        width: 470px;
        height: 165px;
        margin: 40px 60px 50px 60px;
    }
  }

  .form-field__bnt {
    padding: 17px 60px;

}
  .form-field__note {
    width: 320px;
    margin: 0;
    text-align: right;
    padding-top: 17px;
    text-transform: uppercase;
    font-size: 14px;
  }

}

@media @desktop-widths {

  .form-field h2 {
    margin: 93px 75px 70px 75px;
  }

  .form-field__title-hidden {
    display: inline-block;
  }

  .form-field__user-items {
    margin-bottom: 55px;
  }

  .form-field__list-1 .form-field__user-item {
    justify-content: space-between;
    padding: 0;
  }

  .form-field__radio {
    padding-left: 125px;
  }

  .form-field__check {
    width: 310px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    min-height: 82px;
    padding-left: 115px;
  }

  input[type="checkbox"]+label::before {
    top: -5px;
    left: 60px;
  }

  input[type="radio"]+label::before {
    top: -5px;
    left: 70px;
  }

  input[type="radio"]:checked+label::after {
    top: 6px;
    left: 81px;
  }

  .form-field__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-field__list-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    height: 292px;
    padding: 15px 0 0 0;
    align-content: space-between;

    label {
      margin-right: 4px;
    }
  }

  .form-field__list-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 425px;
    height: 255px;
    padding: 50px 0 0 0;
  }

  .form-field__list-2 {
    padding: 50px 0px 10px 0px;
    .form-field__list-wrapper {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .form-field__tel-icon {
    right: -1px;
    top: 8px;
  }

  .form-field__email-icon {
    right: -1px;
    top: 8px;

  }

  .form-field__check-1 {
    order: 0;
  }

  .form-field__check-2 {
    order: 3;
  }

  .form-field__check-3 {
    order: 1;
  }

  .form-field__check-4 {
    order: 4;
  }

  .form-field__check-5 {
    order: 2;
  }

  .form-field__check-6 {
    order: 5;
  }

  .form-field__message {
    width: 100%;
    textarea {
      width: 800px;
      height: 110px;
      margin: 35px 55px 30px 55px;
      padding-top: 15px;
    }
  }

  .form-field__footer {
    width: 100%;
    margin-bottom: 0px;
  }

  .form-field__list-3 {
    width: 100%;
    padding: 30px 60px 0 60px;
    height: 140px;
    flex-direction: row;
    flex-wrap: nowrap;

    .form-field__list-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    .form-field__user-item {
      width: 370px;
    }
  }

    .form-field__note-hidden {
    display: inline-block;
  }
}
