.page-title--index {
  .container();
  height: 462px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.page-title {
  .container();
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  height: 237px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  h1 {
    margin: 0 auto;
  }
}

@media @tablet-widths {
  .page-title--index {
    height: 730px;
    background-size: auto;
    background-position: 50% 100%, center 0px;
  }
  .page-title {
    height: 255px;
    background-size: cover;
    padding-top: 185px;
  }
}

@media @desktop-widths {
  .page-title--index {
    height: 854px;
    background-size: auto, 100% 100%;
    background-position: 50% 100%, center 0px;
    margin-top: -110px;
  }
  .page-title {
    height: 215px;
    background-size: cover;
    margin-top: -110px;
    padding-top: 180px;
  }

}
