.page-header__title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
}

.page-title {
  .container();
}

@media @mobile-widths-only {
  .page-title--index {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    height: 462px;
    margin-top: -66px;
    background-position: center 0;
  }

  .page-title__wrapper {
    .container();
    background-image: url("../img/iphone-hand-mobile@1x.png");
    height: 462px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .page-header__title {
    padding: 30px 45px 50px 45px;
  }

  .page-title {
    height: 170px;
  }
}
@media @tablet-widths {
  .page-title--index {
    display: none;
  }

  .page-title {
    height: 330px;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    padding: 70px 70px 55px 70px;
  }
}

@media @desktop-widths {
  .page-title {
    height: 285px;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    padding: 65px 70px 55px 70px;
  }
}
