.page-footer--index {
  background-color: #ffffff;
  span {
    color: @color-pink;
    font-weight: 300;
    font-size: 24px;
  }
  a {
    text-decoration: none;
  }
}
.page-footer__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.social-links li {
  list-style: none;
}
