.page-header {
  .container();
}

.page-header__menu {
  position: relative;
}

.page-header__logo {
  position: absolute;
}

@media @mobile-widths-only {
  .page-header__logo {
    top: 22px;
    left: 20px;
    width: 75px;
    height: 22px;
  }
  .page-header__menu {
    height: 69px;
    border-bottom: 1px solid #000000;
  }
}

@media @tablet-widths {
  .page-header__logo {
    top: 27px;
    left: 0px;
    width: 147px;
    height: 41px;
  }
  .page-header__menu {
    height: 109px;
    border-bottom: 1px solid #000000;
  }
}

@media @desktop-widths {
  .page-header__wrapper {
    background-color: rgba(29, 39, 50, 0.3);
  }
  .page-header__logo {
    width: 150px;
    height: 27px;
    top: 27px;
    left: 0;
  }
  .page-header__menu {
    width: 150px;
    border: none;
  }
}
