.page-header__logo {
  min-height: 70px;
}

.page-header__wrapper {
  .container();
}

@media @tablet-widths {
  .page-header__logo {
    min-height: 110px;
  }
}

@media @desktop-widths {
  .page-header__logo {
    width: 150px;
    margin: 0;
    float: left;
  }
}
