.price {
  background-color: @color-grey;
  line-height: 30px;
  text-transform: uppercase;
  th {
    font-weight: bold;
    font-size: 18px;
    background-color: @color-blue;
    color: #ffffff;
  }
}
.price__cost {
  font-weight: 300;
}
