.price {
  background: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: @color-grey;
}

.price__wrapper {
  .container();
}

.price {

  line-height: 30px;

  th {
    font-weight: bold;
    font-size: 18px;
    background-color: @color-blue;
    color: #ffffff;
    padding: 15px 50px 20px 45px;
    text-transform: uppercase;
    border: 2px solid @color-grey;
  }

  td:not(.price__row-hidden) {
    border: 2px solid #e5e5e5;
  }
}

.price__table {
  background-color: #ffffff;
  border: 2px solid @color-grey;
  border-collapse: collapse;
}

.price__column-1,
.price__column-2,
.price__column-3 {
  font-size: 14px;
  width: 188px;
  padding: 15px 25px 15px 20px;
  text-transform: uppercase;
}

.price__column-0  {
  width: 120px;
  padding: 5px 18px 10px 15px;
  font-size: 14px;
}

.price__cost {
  font-weight: 300;
  font-size: 24px;
  white-space: nowrap;
}

.price-slider {
  position: relative;
}

.price-slider__input {
  opacity: 0;
}

.price__hit {
  position: relative;
  background: url("../img/bg-hit.svg") no-repeat top left;

  &::before {
    content: "хит";
    position: absolute;
    top: 11px;
    left: 9px;
    font-size: 14px;
    line-height: 30px;
    transform: rotate(-45deg);
  }
}

.price__check-on,
.price__check-off {
  position: relative;

}

.price__check-on::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #ffffff url("../img/icon-yes.svg") no-repeat center;
}

.price__check-off::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: #ffffff url("../img/icon-no.svg") no-repeat center;
}

@media @mobile-widths-only {

  .price__wrapper {
    padding-top: 100px;
    padding-bottom: 95px;
  }

  .price__column-0,
  .price__column-1,
  .price__column-3 {
    display: none;
  }

  .price__table-wrapper {
    margin-left: 20px;
  }

  .price-slider__toggles {
    position: absolute;
    bottom: 55px;
    left: 126px;
    width: 70px;
    height: 12px;
    text-align: center;
    z-index: 8;
  }

  .price-slider__toggles label {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bec2c7;
    margin: 0;
    margin-right: 10px;
  }

  #price-input-1:checked ~ .price-slider__toggles label[for="price-input-1"],
  #price-input-2:checked ~ .price-slider__toggles label[for="price-input-2"],
  #price-input-3:checked ~ .price-slider__toggles label[for="price-input-3"], {
    border: 3px solid #283645;
    background-color: #ffffff;
  }
}

@media @tablet-widths {

  .price {
    line-height: 30px;

    th {
      font-size: 16px;
      padding: 15px 35px 5px 35px;
    }
  }

  .price__wrapper {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .price__row {
    font-size: 0;
  }

  .price__row-hidden {
    background-color: @color-grey;
  }

  .price-slider__input {
    opacity: 0;
  }

  .price__column-0  {
    width: 120px;
    padding: 5px 18px 10px 15px;
  }

  .price__column-1,
  .price__column-2,
  .price__column-3 {
    width: 82px;
    padding: 0;
  }

  .price__check-on::before {
    top: 5px;
    right: 55px;
  }

  .price__check-off::before {
    top: 5px;
    right: 55px;
  }

  .price__cost {
    font-size: 18px;
  }
}

@media @desktop-widths {

  .price__wrapper {
    padding-top: 155px;
    padding-bottom: 90px;
  }

  .price__check-on::before {
    top: 10px;
    right: 100px;
  }

  .price__check-off::before {
    top: 10px;
    right: 100px;
  }

  .price__table {
    width: 100%;
    th {
      font-size: 18px;
      padding: 15px 65px 20px 65px;
    }
  }

  .price__column-0  {
    width: 193px;
    font-size: 18px;
    padding: 15px 20px 15px 20px;
  }

  .price__cost {
    font-size: 24px;
    white-space: nowrap;
  }

  .price__column-1,
  .price__column-2,
  .price__column-3 {
    width: 97px;
  }
}
