.reviews {
  .container();
}

.reviews__items {
  padding: 0;
  margin: 0;
}

.reviews__slider {
  position: relative;
}

.reviews__slider-input {
  opacity: 0;
}

.reviews__slider-toggles {
  position: absolute;
  width: 70px;
  height: 12px;
  text-align: center;
  z-index: 8;
}

.reviews__slider-toggles label {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  background-color: #bec2c7;
  margin: 0;
  margin-right: 10px;
}

.reviews__item {
  display: none;
  text-align: center;
}

#reviews-input-1:checked ~ .reviews__items #slide1,
#reviews-input-2:checked ~ .reviews__items #slide2,
#reviews-input-3:checked ~ .reviews__items #slide3 {
  display: flex;
  flex-direction: column;
}

#reviews-input-1:checked ~ .reviews__slider-toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .reviews__slider-toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .reviews__slider-toggles label[for="reviews-input-3"] {
  border: 3px solid #283645;
  background-color: #ffffff;
}

@media @mobile-widths-only {
  .reviews__item {
    line-height: 30px;
  }

  .reviews__item-content{
    font-size: 14px;
    margin: 0;
    padding: 0 20px 0 20px;
  }

  .reviews__item-age {
    display: none;
  }

  .reviews__slider {
    padding-bottom: 90px;
  }

  .reviews__item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .reviews__slider-toggles {
    top: 290px;
    left: 126px;
  }
}

@media @tablet-widths {

  .reviews__slider {
    padding-top: 105px;
    padding-bottom: 105px;
  }

  .reviews__item-content{
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .reviews__item {
    line-height: 30px;
  }

  .reviews__item-name {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
    order: 1;
  }

  .reviews__item-age {
    font-size: 14px;
    margin-top: 5px;
    order: 2;
  }

  .reviews__slider-toggles {
    bottom: 80px;
    left: 270px;
  }
}

@media @desktop-widths {

  .reviews__slider {
    padding: 160px 80px 90px 80px;
  }

  .reviews__item-name {
    font-size: 24px;
    margin-top: 35px;
  }

  .reviews__item-age {
    font-size: 18px;
  }

  .reviews__slider-toggles {
    display: none;
  }
}
